
html, body { 
  width: 100%;  
  background-color: #FFC629;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: scroll;
}

input{
  margin: 15px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 500px;
  height: auto;
  border-radius: 20px;
  margin: 20px;
}

.check{
  display: grid;
  grid-template-columns: auto auto auto;
}

h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  font-size: 23px;
  color: black;
  font-weight: bold;
}

h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 15px;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

button{
  background-color: black;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  font-weight: bold;
}

button:hover{
  background-color: white;
  color: black;
  transition: 0.3s;
}

button:active{
  font-size: smaller;
}

.imglabel{
  color: black;
  font-weight: bold;
}